@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background-color: #fff;
  }
::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 8px;
    border: solid 2px #fff;
  }
body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: white;
    background-color: #26293A;
    overflow-x: hidden;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
hr {
    width: 100%;
    height: 1px;
    background-color: white;
    border: none;
    margin: 50px 0;
}
section {
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 200px;
}
#content {
    width: 100%;
}
.header {
    width: 100%;
    padding: 40px 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3144;
}
.header > a {
    overflow: hidden;
    height: 150px;
    display: flex;
    align-items: center;
}
.header__logo {
    border-radius: 20px;
}
.header__nav {
    display: flex;
    gap: 50px;
}
.cont {
    position: absolute;
    left: 80%;
    height: 100px;
    margin-top: 12px;
}
.profile {
    float: left;
    overflow: hidden;
  }
  
  .profile .profile-btn {
    width: 100%;
    cursor: pointer;
    font-size: 18px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: start;
  }
  .profile-btn {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .profile-content {
    width: 300px;
    visibility: hidden;
    height: 0;
    transition-duration: .5s;
    background-color: #2C3144;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .profile-content li{
    color: white !important;
  }
  .profile-content a {
    color: red;
  }
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #26293A;
  }
  .profile-content li {
    float: none;
    color: #ccc;
    padding: 12px 16px;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 7px;
  }
.on {
    visibility: visible !important;
    height: 200px !important;
}
.nav-link {
    color: #ccc;
    font-size: 20px;
    transition: all .4s ease;
    display: block;
    position: relative;
}
.nav-link:after {
    width: 0;
    transition: all .3s ease;
    content: "";
    display: block;
    height: 1.5px;
    border-radius: 0.5px;
    background: linear-gradient(to left, #ccc,#ccc);
    box-sizing: border-box;
}
.nav-link:hover:after {
    width: 100%;
}
.hamburger-menu {
    display: none;
}
.main {
    padding: 0 10px;
    margin: 0;
}

.left {

}
.navbar {
    overflow: hidden;
    background-color: #2C3144;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    width: 100%;
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    width: 100%;
    cursor: pointer;
    font-size: 18px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: start;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #333;
  }
  .dropdown-content {
    visibility: hidden;
    height: 0;
    transition-duration: .5s;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .change {
    transition-duration: .5s;
    height: 150px !important;
    visibility: visible !important;
  }
  .change2 {
    transition-duration: .5s;
    height: 50px !important;
    visibility: visible !important;
  }
  .dropdown-content a {
    float: none;
    color: #ccc;
    padding: 12px 16px;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 7px;
  }
  
  .dropdown-content a:hover {
    color: white;background-color: transparent;
  }
  .fa {
    margin-right: 5px;
  }
  .show {
    animation-duration: 0.5s;
    animation-name: slidein;
    visibility: visible;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}
  .links {
    display: flex;
    align-items: center;
    list-style-type: circle;
  }
  .fa-circle {
    font-size: 8px;
  }
  .right {
    width: 70%;
    background-color: #26293A;
    height: 500px;
  }
  .oplata {
    width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px white;
    border-radius: 30px;
    padding: 30px;
}
.oplata > b {
    color: green;
}
.oplata > p > a {
    color: #777;
}
.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.stats__content {
    background-color: #2C3144;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.pictures {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #26293A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pictures > i {
    font-size: 30px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.info > h2 {
    font-size: 20px;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    background-color: #2C3144;
    align-items: center;
    padding-bottom: 20px;
}
.footer__container {
}
.footer__container > p {
    color: #ccc;
    line-height: 2;
    font-weight: 400;
    font-size: 17px;
}
.copyright {
    color: #333 !important;
}
@media (max-width: 1650px) {
    section {
        gap: 100px;
    }
    .stats {
        flex-wrap: wrap;
    }
    .stats__content {
        width: 380px;
    }
    .cont {
        left: 60%;
    }
}
@media (max-width: 900px) {
    .header__nav {
        display: none;
    }
    .hamburger-menu {
        display: flex;
        height: 100%;
        align-items: center;
    }
    #menu__toggle {
        opacity: 0;
    }
    .menu__btn {
        display: flex; 
        align-items: center;  
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1000;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: flex;
        position: absolute;
        width: 35px;
        height: 2px;
        gap: 10px;
        margin-bottom: 5px;
        background-color: white;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        z-index: 100;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        list-style: none;
        text-align: center;
        background-color: #2C3144;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        padding-top: 115px;
        padding-left: 50px;
    }
    .menu__item {
        display: block;
        padding: 12px 0;
        margin-bottom: 5px;
        text-align: start;
        padding-left: 15px;
        color: white;
        font-size: 18px;
        font-weight: 400;
        transition: .3s all;
    }
    .menu__item:hover {
        color: #777;
    }
   
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    transition-duration: .25s;
    }
    .menu__box {
    transition-duration: .25s;
    }
    .menu__item {
    transition-duration: .25s;
    }
    section {
        flex-direction: column;
        gap: 30px;
    }
    .left {
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .pictures {
        width: 70px;
        height: 70px;
    }
    .pictures > i {
        font-size: 18px;
    }
    .stats__content {
        width: 100%;
        padding: 20px;
    }
    .profile-content {
        width: 235px;
    }
}
@media (max-width: 700px) {
    .cont {
        left: 40%;
    }
    .pictures {
        width: 90px;
        height: 70px;
    }
}


